{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>About PlanApp</h1>
    <p>PlanApp is a task manager designed to help users efficiently organize, prioritize, and track their tasks. With
        features like color-coded task priorities and an intuitive dashboard, PlanApp aims to improve your productivity.
    </p>
    <p>We are committed to providing a user-friendly experience for all users. Feel free to explore the app, and don’t
        hesitate to contact us if you have any questions!</p>
</div>
{% endblock %}