{% extends 'base.html' %}

{% block title %}Home - Mimo{% endblock %}

{% block content %}
<div id="hero-section">
    <div class="container">
        <h1>Boost Your Productivity</h1>
        <p>Plan, track, and accomplish your tasks effortlessly.</p>
        <div class="cta-buttons">
            {% if user.is_authenticated %}
            <a href="{% url 'about' %}" class="cta-secondary">Learn More</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="cta-primary">Sign Up</a>
            <a href="{% url 'about' %}" class="cta-secondary">Learn More</a>
            {% endif %}
        </div>
    </div>
</div>

<div id="description-section" class="section">
    <div class="container">
        <h2>Task Management Made Simple</h2>
        <p>Welcome to Mimo – the easiest way to take control of your to-do list and make every day productive. Whether
            you're juggling personal tasks or managing a team, our intuitive platform helps you stay organized, track
            your progress, and celebrate your achievements.</p>
    </div>
    <div class="image-container">
        <img src="https://res.cloudinary.com/dp0u9hc5r/image/upload/v1728567518/jcuhg3yi0oyxcmgvnlni.png"
            alt="Join HealMate today">
    </div>
</div>

<!-- We will use font awesome here below -->
<div id="how-it-works-section" class="section">
    <div class="container">
        <h2>How It Works</h2>
        <div class="how-it-works-steps">
            <div class="step">
                <i class="fa-solid fa-user-plus fa-3x"></i>
                <p>Register or sign in.</p>
            </div>
            <div class="step">
                <i class="fa-solid fa-tasks fa-3x"></i>
                <p>Add tasks and set deadlines.</p>
            </div>
            <div class="step">
                <i class="fa-solid fa-chart-line fa-3x"></i>
                <p>Track Progress</p>
            </div>
        </div>
    </div>
</div>

<div id="key-features-section" class="section">
    <div class="features-container">
        <div>
            <h2>Key Features</h2>
            <ul class="features-list">
                <li><strong>Task Creation & Editing:</strong> Easily create and edit tasks to manage your workload.</li>
                <li><strong>Priority Levels:</strong> Set tasks as High, Normal, or Low priority with color-coded labels
                    for
                    quick reference.</li>
                <li><strong>Mark Tasks as Complete:</strong> Move tasks to the Completed section with a simple click
                    when
                    finished.</li>
                <li><strong>Task Search:</strong> Quickly search for tasks using keywords and filters for easy
                    navigation.
                </li>
                <li><strong>Active & Completed Tasks:</strong> View both active and completed tasks on your dashboard,
                    separated for clarity.</li>
                <li><strong>Task Deletion:</strong> Remove tasks that are no longer needed with confirmation to avoid
                    accidental deletion.</li>
            </ul>
        </div>
        <div class="image-container">
            <img src="https://res.cloudinary.com/dp0u9hc5r/image/upload/v1728625251/dashboard-view_zabjq4.png"
                alt="Join HealMate today">
        </div>
    </div>
</div>

<div class="cta-section">
    <div class="container">
        <h2>Ready to Boost Your Productivity?</h2>
        <p>Join Mimo today and take control of your tasks like never before. It's fast, easy, and free to get started!
        </p>
        {% if user.is_authenticated %}
        <a href="{% url 'dashboard' %}" class="btn-cta-primary">Go to Dashboard</a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="btn cta-primary">Get Started for Free</a>
        {% endif %}
    </div>
</div>

{% endblock %}